/* BASE / MOBILE 768px */

.features-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}
.visually-hidden {
  display: none;
}

.features-icon-box {
  display: none;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*  TABLET (768px - 1157px)  */

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    /* 2 елементи в ряд */
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: left;
  }

  .features-text {
    font-weight: 500;
  }
}

/* DESKTOP (>=1158px) */

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    /* 4 елементи в ряд */
    width: calc((100% - 72px) / 4);
  }

  /* Показуємо плашки з іконками тільки на десктопі */
  .features-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }
}
