.logo {
  font-family: Raleway;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2e2f42;
  letter-spacing: 0.03em;
  line-height: 1.33;
}
.logo .accent {
  color: #4d5ae5;
  font-family: Raleway;
}

.logo-footer {
  color: #f4f4fd;
  font-family: Raleway;
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  padding: 100px;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.foter-text {
  display: block;
  text-align: left;
  padding: 0px 15px;
  max-width: 1158px;
}

.footer-left {
  width: 264px;
  max-width: 264px;
}
