.logo {
  font-family: Raleway;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.33;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo .accent {
  color: #4d5ae5;
  font-family: Raleway;
}

.mailto {
  font-style: normal;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.mailto:hover,
.mailto:focus {
  color: #404bbf;
}

.tel {
  font-style: normal;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.tel:hover,
.tel:focus {
  color: #404bbf;
}

.team {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.features:hover,
.features:focus,
.team:hover,
.team:focus,
.portfolio:hover,
.portfolio:focus {
  color: #404bbf;
}

.header-container {
  border-bottom: 1px solid var(--cornflower);
}

.header-link-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0px;
}

.header-contact {
  display: flex;
  gap: 40px;
}
