.hero {
  background-color: #2e2f42;
}
.page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  max-width: 496px;
  margin: auto;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.hero-background {
  padding: 188px 141px;
  text-align: center;
}
