.our-team {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
}

.list-none {
  list-style: none;
}

.team-background-color {
  background-color: #f4f4fd;
}

.team-description {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.name {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.profession-team {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.team-color {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.box-container {
  padding: 32px 16px;
}

.ilustration-icons-links {
  background-image: url(/images/icons.svg#);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icons-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.ilustration-color:hover,
.ilustration-color:focus {
  background-color: #404bbf;
}

.ilustration-color {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;

  color: #fff;
  background-color: #4d5ae5;
  border-radius: 40px;
  width: 40px;
  height: 40px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms ease-in-out;
}

.image-flex {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 24px;
  padding: 0px 15px;
}
.section-padding {
  padding: 120px 0px;
}
img {
  display: block;
}
