.our-team {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
}

.list-none {
  list-style: none;
}

.team-background-color {
  background-color: #f4f4fd;
}

.team-description {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  padding: 120px 0px;
}

.name {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  padding: 32px 16px 8px;
}

.profession-team {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.team-color {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  display: block;
}

.container-team {
  margin: 0;
  padding: 120px 0px;
}

.box-container {
  padding: 32px 16px;
}

.image-flex {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 24px;
  padding: 0px 15px;
}
